$background: #262626;
$foreground: #989898;
$dim: #4c566a;
$high: #bf616a;
$normal: #7ca4c3;

* {
  all: unset;
}

.bar {
  background: $background;
  font-family: "Cantarell";
  font-size: 12px;
  color: $foreground;
}

.workspaces {
  font-family: "Font Awesome 5 Free Solid";
  font-size: 12px;
  margin-right: 20px;

  button {
    margin: 0px 3px;
  }

  .unfocused {
    color: $dim;
  }

  .focused {
    color: $foreground;
  }
}

.rhs {
  padding-right: 10px;
}

.icon {
  color: $dim;
  &-fa {
    margin-right: 6px;
    font-family: "Font Awesome 5 Free Solid";
  }
}

.txt {
  color: $dim;
}

.high {
  color: $high;
}

.normal {
  color: $normal;
}

.focus {
  color: $foreground;
}
